# SPDX-FileCopyrightText: 2023 Zextras <https://www.zextras.com>
#
# SPDX-License-Identifier: AGPL-3.0-only

# JetBrains IDE
.idea/
*.iml

# Compiled class file
*.class

# Log file
*.log

# Jars files
*.jar

# Maven
target/
dist/
.project
.settings/

# License
LICENSES
