# SPDX-FileCopyrightText: 2023 Zextras <https://www.zextras.com>
#
# SPDX-License-Identifier: AGPL-3.0-only

[Unit]
Description=Carbonio Tasks daemon
Wants=network.target
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/carbonio-tasks
User=carbonio-tasks
Group=carbonio-tasks
Restart=on-failure
RestartSec=15
TimeoutSec=60
TimeoutStopSec=120


[Install]
WantedBy=multi-user.target
